body{
  overflow-x: hidden;
}
#old-menu{

  display: flex;
  justify-content: space-between;
  
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}
a{
  text-decoration: none !important;
margin: 20px !important;
margin-left: 50px !important;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
color: black !important;

}
a:hover{
  border-bottom: 5px rgb(60, 224, 23) solid !important;
  background-color: rgba(160, 159, 159, 0.558);
}
.searchBox {
  display: flex;
  max-width: 230px !important;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin-left: 30px !important;
  margin-top: 10px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px !important;
}
.pushable {
  margin-top: 10px;
  margin-right: 20px;
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  height: 80px;
  width: 100px;
  margin-left: 80px !important;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
  background: hsl(227, 64%, 70%);
  border-radius: 8px;

  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(138, 91%, 45%) 0%,
    hsl(138, 91%, 45%) 8%,
    hsl(138, 91%, 45%) 92%,
    hsl(138, 91%, 45%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(138, 91%, 45%);
  padding: 16px 32px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(7px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #73ee22;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#old-about{
  margin-top: 2220;

}

.wrapper {
  position: absolute;
  width: 80vw;
  transform:  translate(-50%, -40%);
  top:50%;
  left: 50%;
display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-top: 450px;


  

}

.container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid #188cf9;
}

i{
  color: #188cf9;
  font-size: 2.5em;
  text-align: center;

}

span.num {
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #e0e0e0;
  font-size: 1.1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width:1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  .container {
    width: calc(50% -40px);
    height: 30vmin;
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper{
    gap: 15px;
  }

  .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

#old-about{
  
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 140px;
}

#about h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 150px;
  margin-bottom: 40px;
  font-weight: 900;
  color: #009EFD;
  text-shadow: #73ee22;
  font-size: 3em;
  width: 350px;

  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#about h3{
  letter-spacing: 2px;
font-style:italic;
  font-family: 'Roboto', sans-serif;
}
#localisation{
  margin-top: 30px;
}
iframe{
  width: 1500px;
  border-radius: 20px;
}